* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(184, 203, 245);
}

@font-face {
    font-family: 'NotoSansLaoUI-Regular';
    src: url(./NotoSansLaoUI-Regular.woff) format('woff');
}
label {
    font-family: 'NotoSansLaoUI-Regular';
}
.success {
    font-family: 'NotoSansLaoUI-Regular';
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #3490be;
    color: #090909;
    background: rgb(239, 243, 243);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.error {
    font-family: 'NotoSansLaoUI-Regular';
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

#login .container #login-row #login-column #login-box {
    margin-top: 130px;
    margin-bottom: 210px;
    max-width: 620px;
    height: 320px;
    border: 1px solid #2b7fe0;
    background: rgb(239, 243, 243);
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

input[type=email] {
    width: 100%;
    padding: 5px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
}  
input[type=text] {

    width: 100%;
    padding: 5px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
}
input[type=password] {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
}



.mycontainer {
    background: rgb(239, 243, 243);
    border-radius: 5px;
    min-width: 400px;
    max-width: 40%;
    min-height: 610px;
    padding: 2%;
    margin: 2rem auto;
    border: 1px solid rgb(10, 10, 9);
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
} 


td { padding-left: 0%;
    padding-bottom: 2%;
}

.tdinput{
    width: 85%;
}

.tdla-1{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    max-width: 40%;
    padding: 0.5rem;
    border: 1px solid rgb(10, 10, 9);
    background: rgb(113, 219, 219);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    height: 40px;
}


